#container {
    text-align: center;
    color: white;
}

li {
    list-style-type: none;
    font-size: 30px;
    color: white;
}
li a:visited {
    color:white;

}
li a:hover {
    color: black;
}
body {
    background-color: gray;
}